/*********************************************************************
  Version Tablette entre 970px et 640px
  1er Break point: 970px
  2ème Break point: 870px (main one)
  3ème et 4ème Break points: 800px et 720px (logos cachés)
  5ème Break point: 640 < x < 780px (barre de navigation décalée)
  6ème Break point: 640 < x < 655 (Fixe bug page 1)
*********************************************************************/

/*******************  1er break point  ***********************/

@media (max-width: 970px) {
.txt-intro{
  width: 80%;
  }
}

/*******************  2ème break point  ***********************/

@media (max-width: 870px) {
  body {
        width: auto;
        margin: 0;
        padding: 0;
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }

/******************************
        PAGE 1
*******************************/
/************** En-Tête ********************/

.titre
{position:relative;
top:0;
text-align: left;
font-family: "Montez-Regular", Arial, serif;

}

.titre h1, .titre h2
{display: inline-block;
  margin-right: 20px;
}

/************** Navigation ********************/
.nav1
{position:absolute;
bottom: 10%;
text-align: left;
width: auto;
}

#nav:hover ul {
transition: 0s linear .05s;
}

li#menu-portfolio
{margin-right: 0%;
}

p.text-banderole{
position: absolute;
  top: 18%;
  left:40%;
  font-size: 26px;
}

li.toggleSubMenu {
text-align: center;
}

.subMenu li{
  padding-right: 0px;
}

.subMenu li:first-child{
  padding-left: 100px;
}

/************** Texte intro ********************/
.intro{
height:440px;
}

.txt-intro{
width:50%;
margin: inherit;
margin-top: 0;
margin-bottom: 0;
}

.txt-intro img{
width:auto;
margin: auto;
text-align:center;
display:block;
margin-bottom: -20px;
}

.txt-intro p{
text-align: justify;
  margin-top: 0px;
}

/************** ombre et logos ********************/
.me{
position:fixed;
top: 187px;
left:25%;
z-index:1;
margin-left: -109px
}

.me.fixed{
position:absolute;
left:25%;
top: 795px;
margin-left: -109px;
}

.icones-tt{
position:relative;
top:0px;
}

#nuage{
top:5px;
left:0px;
}

#ampoule{
top:-25px;
left:0px;
}

#www{
top:-40px;
left:20px;
}

#reseau{
top:-20px;
left:30px;
}

#outil{
top:20px;
left:30px;
}

#ordi{
top:0px;
left:50px;
}

#valise{
top:-45px;
left:50px;
}

#molecule{
top:-60px;
left:65px;
}

#ordi2{
top:-45px;
left:82px;
}

#erlen{
top:-5px;
left:69px;
}

#avion{
top:40px;
left:42px;
}

#terre{
top:75px;
left:5px;
}



/******************************
      PAGE 2
*******************************/

.fleche1, .fleche2, .fleche3, .fleche4{
  display: none;
}

.presentation{
  margin-left: 50%;
}

/************** Texte compétences ********************/
.dev h2, .dev ul, .admin h2, .admin ul, .res h2, .res ul, .asso h2, .asso ul
{position:initial;
 text-align: left;
 right: initial;
 top: initial;
 width:initial;
 margin-top:0px;
}

.dev h2, .admin h2, .res h2, .asso h2
{margin-top:20px;
}

/******************************
            PAGE 3
*******************************/
#slide-page3{
background-image:url(../images/bckg-page3.png);
height: 1150px;
}

.brecourt-cadre
{ margin-left: 20px;
  position: relative;
 top:20px;
 width: 40%;
}
/******************************
            PAGE 4
*******************************/
#slide-page4{
background-size: 100% 585px;
height: 590px;
}

.diplome{
margin-left: 30px;
float: right;
  }

.txt-formation p{
    font-size: 1.1em;
    padding-top: 70px;
  }

#slide-page4 ul{
text-align: left;
  font-size: 1.1em;
  padding-top: 10px;
  width: 100%;
  }

/******************************
              PAGE 5
*******************************/
#slide-page5{
height: 900px;
}

/************** image enveloppe derrière ********************/
.contact img:first-child{
position:relative;
right:inherit;
bottom: -200px;
width: auto;
margin:auto;
}

/************** le formulaire ********************/
.formulaire {
position:relative;
text-align: left;
bottom: 310px;
right: inherit;
margin:auto;
height: 460px;
width: 430px;
padding-left: 15px;
}

/************* image enveloppe devant ********************/
.contact img:last-child{
position:relative;;
bottom: 450px;
right:inherit;
margin: auto;
width: auto;
}

/************** logo réseaux sociaux ********************/
.timbre{
position: relative;
text-align: center;
height: inherit;
bottom: 0px;
}

.cadre-logo{
display: inline-block;
}
}


/******************* 3ème et 4ème break point  ***********************/
/******************* logos cachés ************************************/

@media (max-width: 800px) {
#avion, #terre {
visibility: hidden;
}
}

@media (max-width: 720px) {
 #outil {
visibility: hidden;
}
}

/******************* 5ème break point  **********************************/
/******************* Barre de navigation décalée  ***********************/
@media (min-width: 641px) and (max-width: 780px) {
.titre h1{
font-size: 2.0em;
margin-top: 1px;
}

.subMenu li:first-child {
padding-left: 150px;
}
}

/******************* 6ème break point  ********************************************************/
/******************* Fixer le Bug sur la Page 1 entre width 641 et 654  ***********************/
@media (min-width: 641px) and (max-width: 654px) {

.txt-intro{
position:relative;
left:46%;
}

.icones-tt{
position:relative;
top:-350px;
left: -170px;
}
}
